{% extends 'template.html' %}
{% block title %} <title>Stopping For Playing</title> {% endblock %}
{% block body %}
<!-- carousel banner slide sections -->
<div id="carouselExampleAutoplaying" class="carousel container-lg carousel-dark my-3 slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!-- data-bs-interval="10000" -->
        <img src="{{ url_for('static', filename='1.jpg')}}" class="d-block w-100 carousel__image" alt="...">
        <div class="carousel-caption d-none d-md-flex slide__1">
          <button type="button" class="button__carousel button__carousel--1 fs-5"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" >
          <b>Buy Now</b>
          </button>
        </div>
      </div>
      <div class="carousel-item">
        <!-- data-bs-interval="2000" -->
        <img src="{{ url_for('static', filename='2.jpg')}}" class="d-block w-100 carousel__image" alt="...">
        <div class="carousel-caption d-none d-md-flex justify-content-center mb-3">
          <button type="button" class="button__carousel fs-5"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
          <b>Buy Now</b>
          </button>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='3.jpg')}}" class="d-block w-100 carousel__image" alt="...">
        <div class="carousel-caption d-none d-md-flex justify-content-center mt-2">
          <button type="button" class="button__carousel mt-3 fs-6"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
          <b>Buy Now</b>
          </button>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<!--fillter button section-->
<div class="container my-4">
  <div class="row">
    <div class="col col-10 d-none d-lg-block">
      <!--button filter 1-->
      <form action="/filterData" method= "POST" class="">
        <input type="hidden" id= 'test-text' name="test-text">
        <select class="form-select btn__filter bg-light" aria-label="Default select example">
          <option selected disabled>Product Type</option>
          <option value="console">Consoles</option>
          <option value="gadgets">Gadgets</option>
          <option value="games">Games</option>
        </select>
        <!--button filter 2-->
        <select class="form-select btn__filter bg-light" aria-label="Default select example">
          <option selected disabled>Price</option>
          <option value="1">Above 59.99$</option>
          <option value="2">59.99$ - 40.00$</option>
          <option value="3">39.99$ - 30.00$</option>
          <option value="4">Below 30.00$</option>
        </select>
        <!--button filter 3-->
        <select id="review_select" class="form-select btn__filter bg-light" onchange="ajaxRequest()"
          aria-label="Review Select">
          <option selected disabled>Review</option>
          <option value="5_stars">5 Stars</option>
          <option value="4_stars">4 Stars</option>
          <option value="3_stars">3 Stars</option>
          <option value="2_stars">2 Stars</option>
          <option value="1_star">1 Star</option>
        </select>
        <!--button filter 4-->
        <select class="form-select btn__filter bg-light" aria-label="Default select example">
          <option selected disabled>Color</option>
          <option value="red">Red</option>
          <option value="blue">Blue</option>
          <option value="green">Green</option>
          <option value="yellow">Yellow</option>
          <option value="pink">Pink</option>
          <option value="white">White</option>
          <option value="black">Black</option>        
        </select>
        <!--button filter 5-->
        <select class="form-select btn__filter bg-light" aria-label="Default select example">
          <option selected disabled>Material</option>
          <option value="plastic">Plastic</option>
          <option value="steel">Steel</option>
          <option value="glass">Glass</option>
        </select>
        <!--button filter 6-->
        <select class="form-select btn__filter bg-light" aria-label="Default select example">
          <option selected disabled>Offer</option>
          <option value="1">Percent Discount</option>
          <option value="2">Special Bundle</option>
          <option value="3">Buy Bulk</option>
        </select>
      </form>
    </div>
    <div class="col col-lg-2">
      <!--button sort by-->
      <div class="dropdown ms-5">
        <button class="btn btn__filter bg-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Sort by
        </button>
        <ul class="dropdown-menu">
          <li>
              <div class="dropdown-item">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
                Featured
              </label>
            </div>
          </li>
          <li>
            <div class="dropdown-item">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
              <label class="form-check-label" for="flexRadioDefault2">
                Best Selling
              </label>
            </div>
          </li>
          <li>
            <div class="dropdown-item">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
              <label class="form-check-label" for="flexRadioDefault3">
                Alphabetically, A-Z
              </label>
            </div>
          </li>
          <li>
            <div class="dropdown-item">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">
              <label class="form-check-label" for="flexRadioDefault4">
                Alphabetically, A-Z
              </label>
            </div>
          </li>
          <li>
            <div class="dropdown-item">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault5">
              <label class="form-check-label" for="flexRadioDefault5">
                Price, low to height
              </label>
            </div>
          </li>
          <li>
            <div class="dropdown-item">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault6">
              <label class="form-check-label" for="flexRadioDefault6">
                Price, height to low
              </label>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
  {% block content %}
    <div class="container mb-4">
      <h4 class="text-sm-start fw-bold">Product Type: {{ category|capitalize }}</h4>
    </div>
    <form action="/orderlist" method="get">
      <div class="container mx-auto">
        <div class="row row-cols-1 row-cols-lg-4 row-cols-md-2"> 
          {% for product in products %}
            <div class="col mb-3">
              <div class="card h-100">
                <img src="static/images/{{ product[9] }}" class="card-img-top h-100" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><b>{{ product[1] }}</b></h5>
                  <p class="card-text">{{ product[8] }}</p>
                  <p class="card-text"><b>Price: </b> {{ product[2] }} <b>$</b></p>
                  <div class="card__footer">
                    <div class="button__container">
                      <a href="{{ url_for('orderlist', id= product[0])}}" type="submit" class="btn btn-primary btn-sm btn__cart">Add to Cart</a>
                      <a href="{{ url_for('product', id= product[0])}}" type="button" class="btn btn-dark btn-sm btn__cart" style="margin-left: 10pxs">Details</a>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-heart-fill align-self-center heart" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </form>
  {% endblock %}
{% endblock %}
    
