{% extends 'template.html'%}
{% block title %}<title>Payment</title>{% endblock %}
{% block body%}
    <div class="progressbar-wrapper d-sm-none d-xl-block mt-3">
        <ul class="progressbar">
            <li class="active mb-3">information</li>
            <li class="active">payment</li>
            <li>confirm</li>
        </ul>
    </div>
    <form action="" method="post">
        <div class="container d-grid justify-content-center">
            <div class="row">
                <div class="col col-9 card">
                    <div class="row g-3 card-body"></div>
                </div>
                <div class="col col-3">
                    <h1>Hello World</h1>
                </div>
            </div>
        </div>
    </form>
{% endblock %}